.main {
  display: flex;
  max-width: 400px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.dog-button {
  display: flex;
  margin: 10px;
  border-color: limegreen;
  background-color: limegreen;
}
